body {
  font-family: 'Nunito Sans',Avenir,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Cantarell,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #2d435a;
  background-image: linear-gradient(91deg, #E0F7FA, #BBDEFB);
}

header {

}  

p {
  font-size: 18px;
  line-height: 1.6;
}

ol li {
  list-style-type: none;
  font-size: 18px;
  line-height: 1.6;
  vertical-align: middle;
}

.header-title {
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
}

.header-desc {
  font-size: 24px;
  text-align: center;
  margin: 1em;
}

.header-container {
  padding-top: 2em;
}

main {
  margin: auto;
  max-width: 1100px;
}

.main-container {
  border-radius: 5px;
  background-color: #fff;
  padding-left: 36px;
  padding-right: 36px;
  box-shadow: 0 2px 5px 0 rgba(88,88,102,.07);
}

.section-title {
  font-size: 28px;
  text-align: center;
}

.section-title {
  font-size: 28px;
  text-align: center;
}

.section-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.section-text {
  font-size: 18px;
  line-height: 1.6;
}

.section-list, .section-p {
  font-size: 18px;
}

section {
  padding: 24px;
  border-bottom: 1px solid #e9ebf5;;
}

.demo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.demo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 24px;
}

.demo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 250px;
}

.demo-item-light {
  background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  font-family: 'Open Sans', serif;
}

.demo-item-dark {
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
  font-family: 'Libre Franklin', sans-serif;
}

.demo-item-modern {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  font-family: 'Nunito Sans', sans-serif;
}

.demo-item-material {
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  font-family: 'Roboto', sans-serif;
}

.demo-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo-item-mobile {
  width: 824px;
}

.usage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hl-prop, .hl-def, .hl-var {
  font-family: 'Consolas', monospace;
  font-size: 16px;
  /* font-weight: bold; */
}

.hl-def, .hl-var {
  background-color: #edf1fb;
  color: #1976D2;
  padding: 4px 8px;
}

.hl-var {
  display: inline;
}

.options-table {
  line-height: 1.6;
}

.usage-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.usage-code {
  max-height: 250px;
}

/*
  Forced Mobile Mode.
*/

.sgdpr-mobile-box-demo {
  margin: auto;
  width: 750px;
  margin-top: 10px;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #509BF5;
  background-image: none;
  color: #fff;
  font-size: 12px;
}

.sgdpr-mobile-button-demo {
  padding: 0px;
  float: none;
  position: relative;
  background-color: #509BF5;
  padding-right: 10px;
  border: none;
  outline: none;
}

.sgdpr-mobile-button-demo:hover {
  background-color: #509BF5;
}

.sgdpr-yes-mobile-demo {
  display: flex;
  height: 18px;
  width: 18px;
}

.sgdpr-yes-mobile-demo, .sgdpr-yes-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIvPjxwYXRoIGQ9Ik05IDE2LjJMNC44IDEybC0xLjQgMS40TDkgMTkgMjEgN2wtMS40LTEuNEw5IDE2LjJ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+");
}

.twa {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 1em; 
}

.twa-lg {
  height: 1.33em;
  width: 1.33em;
  margin: 0 0.0665em 0 0.133em;
  vertical-align: -0.133em;
  background-size: 1.33em 1.33em; }

.twa-3x {
  height: 3em;
  width: 3em;
  margin: 0 0.15em 0 0.3em;
  vertical-align: -0.3em;
  background-size: 3em 3em;; 
}

.twa-4x {
  height: 4em;
  width: 4em;
  margin: 0 0.2em 0 0.4em;
  vertical-align: -0.4em;
  background-size: 4em 4em; 
}

.contents {
  display: flex;
  vertical-align: middle;
  margin-bottom: 10px;
}

.contents-item {
  margin-top: -1px;
  margin-left: 10px;
  text-decoration: none;
  color: rgb(18, 133, 228);
}

.contents-item:hover {
  color: rgb(0, 88, 196);
}

.section-icon, .header-icon {
  display: flex;
  justify-content: center;
}
